*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", serif;

    color: #252422;

    background-color: #FFFCF2;

    position: relative;
}

h1{
    font-size: 2.5rem;
}
.hidden{
    display: none !important;
}

.titleContainer{
    width: auto;

    margin: 1em 0.5em;

    text-align: center;

}
/*Icon for front side of the card*/
.large-icon{
    font-size: 40px !important; 
}
#fox{
    color: #EB5E28;
    font-size: 3rem;
}
/*Date picker*/

.dataPickerContainer{
    max-width: 300px;
    margin: 1em auto;

    display: flex;

    justify-content: center;
    align-items: center;

    
}
#gameDateText{
    margin-right: 10px;
    font-weight: bold;

}
#dateInfo{
    max-width: 300px;
    margin: 1em auto;

    text-align: center;

    font-weight: bold;
}
/*START THE GAME BUTTON*/
.startTheGameButton{
    width: 40%;
    height: auto;

    max-width: 270px;

    margin: 1em auto;
    padding: 0.5em 0;

    background-color: #CCC5B9;
    border: 2px solid #CCC5B9;
    border-radius: 20px;

    color: #EB5E28;
    font-size: 1.5rem;
    text-align: center;

    transition: 0.5s;
    cursor: pointer;

    animation: fadeInFromDown 1s forwards;
}
.startTheGameButton:hover{
    background-color: #8D80AD;
    border-color: #8D80AD;
    color: #FFFCF2;


}
/*grid*/
.gridContainer{


    width: 90%;
    max-width: 500px;

    aspect-ratio: 1/1;
    
    margin: 0 auto 1em auto;

    position: relative;

    animation: fadeIn 0.4s linear;
}

.grid{
 
    border: 0px solid #8D80AD;
 
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;

    height: 100%;


    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    display: grid;

    gap:3px;
    align-items: center;
}

.gridItem{

    background-color: #CCC5B9;

    height: 100%;
    border: none;
    border-radius: 4px;

    display: flex;

    justify-content: center;
    align-items: center;
}
/*table*/
.tableContainer{
    width: 80%;
    max-width: 770px;


    margin: 0 auto;


    animation: fadeInFromDown 0.4s linear;
}
/*deck*/
.deckContainer{
    position: absolute;

    width: 100%;

    top: 30%;
    left: -30%;
}
.deck{
 
    flex: 0 0 auto; 
    width: fit-content;
    margin-bottom: 1em;
    margin-left: 2em;

    overflow: hidden;


}
/*Power Up styling*/
.powerUpContainer{
    position: absolute;

    width: 100%;

    top: 25%;
    left: 102%;
}
.containerPU{
    margin: 1em;
    padding: 0.25em;

    width: 20%;
    height: fit-content;
    border: 1px solid #252422;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-weight: bold;

    background-color: #EB5E28;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    cursor: pointer;
}
.containerPU:hover{
    background-color: #252422;
    color: #e47f56;
}
.containerPU i{
    font-size: 3rem;
    margin-bottom: 0.15em;
}
.outerRevealContainer{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    max-height: 156px;

    bottom: 14%;
}

.revealInformationContainer{
    position: absolute;

    background-color: black;
    color: white;
    padding: 5px 8px;

    white-space: nowrap;

    border-radius: 7px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;




    z-index: 1000;

  
}

.powerUpUsed{
    background-color: #252422;
    color: #e47f56;
}

.revealInformationContainer::before{ /*POINTY PART*/
    content: "";
    position: absolute;

    left: 50%;
    top: 100%;

    transform: translateX(-50%);

    border: 15px solid;

    border-color: #000 transparent transparent transparent;
}

.active{
    bottom: 16%;
    visibility: visible !important;
    opacity: 1 !important;

    animation: fadeInFromDownSmaller 0.4s ease-in forwards;
}


/* Card container - ensures perspective for 3D flip */
.card {
    width: 90px;
    height: 110px;

    border-radius: 20px;
    background-color: #CCC5B9;

    box-shadow: 0 6px 3px #CCC5B9;

    position: absolute;
    left: -650px;
    animation: slideIn 0.7s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* Set perspective on the card */
    transform-style: preserve-3d; /* Enable 3D effect directly on the card */
    transition: transform 0.5s ease-in-out; 

    overflow: hidden;
    box-sizing: border-box;
}
.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Prevent the back from showing when flipped */
    display: flex;
    justify-content: center;
    align-items: center;

 

    border: 1px solid #252422;
    border-radius: 20px;
    box-sizing: border-box;


}
.onGrid.card{
    box-shadow: none;
}
/* Front side of the card (visible first) */
.card .front {
    background: #8D80AD;
    z-index: 2; /* Ensure front is above back */
    color: #252422; /* Make sure the text on the front is visible */


}

/* Back side of the card (initially hidden) */
.card .back {
    background: #8D80AD;
    transform: rotateY(180deg); /* Initially hide the back by rotating it */

    color: #252422;
    font-size: 55px;
    font-weight: bold; 

    border: 1px solid #252422;
    border-radius: 20px;
    box-sizing: border-box;
}


/* flip animation when the card is placed on the grid */
.onGrid .front {
  animation: flip 0.2s ease-in forwards;
}

.onGrid .back {
  animation: flip 0.2s 0.2s ease-out forwards reverse;
}


/*table*/
.table{

    display: flex;
    justify-content: space-evenly;
}


.cardHolder{
    width: 20%;
    height: 130px;
    
    border: 1px solid gray;
    border-radius: 20px;

    display: flex;

    justify-content: center;
    align-items: center;
}

/*CARDS THAT ARE ON YOUR HAND AND ON THE GRID*/
.onHand{

   cursor: pointer;
}
.onGrid{

}
.clickedCard{
    animation: sway 0.5s linear infinite;
    transform-origin: center;
}
.notEmptyGrid{

}
.inDeck{
    
}
/*feel cards powerUp*/
.percentageContainer{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    max-width: 962px;
}
.percentageInformation{
    position: absolute;

    border: 1px solid #252422;
    border-radius: 10px;

    left: 0%;
    top: 20%;

    padding: 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: fit-content;
    max-width: 100px;

    text-align: center;

    background-color: black;
    color: white;

    visibility: hidden;
    opacity: 0;
    
    z-index: 1000;

    min-height: 120px;

    animation: fadeInFromDown 0.9s ease;
}
.percentageContainer li{
    margin-top: 5px;
    list-style: none;

    font-weight: bold;
    color: #d96b40;
}



.percentageInformation::before{ /*POINTY PART*/
    content: "";
    position: absolute;

    left: 110%;
    top: 10%;

    transform: translateX(-50%);

    border: 15px solid;

    border-color: transparent transparent transparent black;
}



/*STOP INTERACTIONS AFTER GAME IS OVER BY DISABLING POINTER EVENTS*/
.gameOver {
    pointer-events: none; 
    cursor: not-allowed; 
}
/*ANIMATIONS*/
@keyframes fadeIn {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

@keyframes fadeOut {
    from {
        opacity: 1 ;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
@keyframes fadeOutToUp {
    from {
        opacity: 1 ;
        transform: translateY(0);
    }
    to {
        opacity: 0 ;
        transform: translateY(-50px);
    }
}

@keyframes fadeInFromDown {
    from {
        transform: translateY(50px);
        opacity: 0;

    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
}
@keyframes fadeInFromDownSmaller {
    from {
        transform: translateY(10px);
        opacity: 0;

    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slideIn {
    0% {
        left: -650px /* Start off-screen */
    }
    100% {
        left: 0; /* Final position */
    }
}

@keyframes sway {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Keyframes for flipping animation */
@keyframes flip {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(90deg); }
  }


.fadeToOrange {
    transition: background-color 1s ease 0.4s; 
    background-color: #d96b40; 
}

.fadeToGreen {
    transition: background-color 1s ease 0.4s; 
    background-color: #a5f383;
}
